.movie-details {
    display: flex;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .movie-header {
    display: flex;
    align-items: flex-start;
  }
  
  .movie-poster-large {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .movie-info {
    padding-left: 20px;
  }
  
  .movie-info h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .movie-info p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .movie-info strong {
    font-weight: bold;
  }
  
  .movie-info > button {
    background-color: #083c81;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .movie-info > button:hover {
    background-color: #3070fa;
  }

  @media (max-width: 768px) {
    .movie-details {
        flex-direction: column;
        align-items: center;
    }

    .movie-poster-large {
        width: 200px;
    }

    .movie-info h1 {
        font-size: 24px;
    }

    .movie-info p {
        font-size: 16px;
    }
}
